.Alert {
    width: 50%;
    margin: 10px auto;
    padding: 10px 0px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: #6f5b5b;
}
.warning {
    background: #fff69b;
}

.success {
    background: #a1c8e9;
}

.danger {
    background: #f0787e;
}

.primary {
    background: #b6d051;
}